* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ----------------------------Praymary Color---------------------------- */
/* text */
.color-primary-text {
  color: #e95a08;
}
.color-paragraph {
  color: #000000;
}

.but-praymary {
  background-color: #e95a08;
  color: white;
  padding: 15px 95px;
  border-radius: 7px;
}
/* Navbar styling */
.nav-content {
  width: 1140px;
  margin: 20px auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 135px;
  height: 82px;
}
.shop {
  color: #8987a1;
}
#home {
  color: #8987a1;
}
.nav-links,
.nav-item {
  display: flex;
  gap: 20px;
}
.nav-links a {
  text-decoration: none;
  font-size: 20px;
}
.nav-links ul {
  list-style: none;
}
/* ----------------------------------------Fresh Flower----------------------------- */
.fresh-flower {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
/* .fresh-flower {
  width: 1140px;
  height: 461px; */
/* margin: 30px auto; */
/* background-color: antiquewhite; */
/* display: flex;
  align-items: center;
} */
/* .fresh-flower-description {
  /* padding-top: 100px; */
/* width: 570px;
  height: 178px; */
/* margin-top: 110px; */

/* .fresh-flower-description  p{
  text-align: center;
  align-items: center;
} */
/* .fresh-flower-description h1 {
  font-size: 65px;
  font-weight: 700;
} */
/* .fresh-flower-image {
  display: block;
  width: 570px;
  height: 355px;
} /* */

/* ---------------------------------------Card------------------------------ */
.card {
  width: 888px;
  margin: 50px auto;
  text-align: center;
}
.card h1 {
  font-size: 30px;
  font-weight: 700;
}
.card-demu {
  text-align: center;
}
.card-prices {
  /* background-color: #8987a1; */
  width: 1140px;
  margin: 50 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
}
.main {
  width: 1140px;
  margin: auto;
}
/* ------------------------------------------------------------------------------ */
.list-item {
  display: list-item;
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 1.2em;
  padding: 20px 10px;
}
.flower-plant {
  display: flex;
  gap: 60px;
  margin-top: 200px;
}
.flower-plant-paragraph {
  width: 540px;
}
.trusted-badge {
  width: 289px;
  height: 286px;
}
.flower-plant-paragraph h1 {
  font-size: 50px;
}
.flower-plant-paragraph p {
  font-size: 25px;
}
.trusted-badge {
  position: relative;
  top: -750px;
  right: -350px;
}
/* -----------------------------Lates Deal------------------------- */
.Latest-deal p,
h1 {
  width: 888px;
  margin: 10px auto;
  text-align: center;
}
.Latest-deal h1 {
  font-size: 50px;
  font-weight: 600;
}
.Latest-deal p {
  font-size: 22px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}
.container-discount {
  display: flex;
}
.card-small-card {
  background-image: url(../assets/deal-bloom.png);
  background-repeat: no-repeat;
  width: 366.22px;
  height: 206px;
  filter: brightness(30%);
  z-index: 0;
}
.text {
  color: aliceblue;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  /* top: 50px; */
  z-index: 10;
}
.btn-blue {
  /* color: aliceblue; */
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50px;
  border: none;
  background: none;
  border: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

/* ---------------------Footer---------------------------- */
.footer {
  width: 1120px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
}
.footer-blog {
  display: flex;
  gap: 50px;
}
.footer-blog ul {
  list-style: none;
}
.footer-img {
  display: flex;
  gap: 30px;
  align-items: center;
}

/* Box-------------------------- */
.box {
  background-image: url(../assets/news-letter-bg.png);
  width: 1440px;
  background-repeat: no-repeat;
  height: 533px;
  background-size: contain;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.box h6 {
  font-size: 45px;
  display: flex;
}
.bg-content {
  display: grid;
  place-content: center;
  padding-top: 100px;
}
.subscrive-box {
  display: flex;

  /* max-width: 400px; */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.subscrive-box input {
  flex: 1;
  padding: 12px;
  border: none;
  font-size: 16px;
  outline: none;
}
.subscrive-box button {
  background-color: #e95a08;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
}
/* -------------------------------------------------- */
.discound {
  width: 1140px;
  margin: auto;
}
.deals-section {
  text-align: center;
  padding: 20px;
}
.deals-section h2 {
  color: orange;
  display: inline;
}
.deals-section h2 span {
  color: white;
}
.deals-section p {
  color: #666;
  max-width: 600px;
  margin: auto;
}
.content-big {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.content h3 {
  color: white;
  font-size: 25px;
}
.content a {
  color: white;
  font-size: 20px;
}
.deal-box1 {
  background-image: url(../assets/deal-bloom.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}
.deal-box2 {
  background-image: url(../assets/deal-ana.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}
.deal-box3 {
  background-image: url(../assets/deal-zabo.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}
.deals-container {
  display: flex;
  gap: 20px;
}

/* -------------------------------Discound------------------------------------------ */

/* Mobile responsive: hide nav-links under 768px */

@media (min-width: 340px) and (max-width: 800px) {
  .nav-item {
    display: none;
  }
  .nav-content {
    width: 576px;
    margin: 20px auto;
    padding: 20px;
  }
  .fresh-flower {
    flex-direction: column-reverse;
    /* width: 0; */
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .fresh-flower-description h1 {
    font-size: 30px;
    font-weight: 700;
    align-items: center;
  }
  .fresh-flower-description {
    /* margin: 0;
      padding: 0; */
  }
  .trusted-badge {
    width: auto;
    height: auto;
  }
  .card-prices {
    background-color: #8987a1;
    width: 576px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .main {
    width: 100%;
    margin: auto;
  }
  .card {
    width: 888px;
    /* margin: 10px auto; */
    padding-right: 370px;
  }
  .our-pan {
    padding-right: 350px;
  }
  .flower-plant {
    flex-direction: column;
    margin-top: 10px;
  }
  .trusted-badge {
    display: none;
  }
  .flower-plant-paragraph h1 {
    width: 400px;
  }

  /* Footer------------------------ */
  .footer {
    width: 100%;
    margin: 10px auto;
    flex-direction: column;
    padding-left: 10px;
    justify-content: start;
    align-items: start;
  }
  .footer-blog {
    flex-direction: column;
    padding-left: 10px;
  }
  /* ------------------------------------- */
  .box {
    width: 100%;
    height: 200px;
    background-size: cover;
  }
  .joind-from {
    padding-top: 10px;
  }
  .box h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .discound {
    width: auto;
    margin: auto;
  }
  .fresh-flower-description {
    /* padding-top: 100px; */
    width: 1000px;
    height: 178px;
    margin-top: 110px;
  }
  .deals-container {
    flex-direction: column;
  }
  .left-column {
    flex-direction: column;
    margin: auto;
  }

  .box h6 {
    margin-top: -30px;
  }
}
